@import '../../styles/variable.scss';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  padding: 0 20px;
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
    height: auto;
    max-width: 400px;
    padding: 45px;
    background: #fff;
    color: #000;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    .login-title {
      text-align: center;
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .login-email,
    .login-password {
      font-size: 19px;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
    }

    .login-errText {
      color: #e6a23c;
      font-size: 14px;
      width: 100%;
    }

    .login-button {
      width: 100%;
    }

    .login-dontHave {
      color: $linkColor;
      text-underline-offset: 3px;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }
}
