.button {
  display: flex;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  background-color: #409eff;
  border: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  transition: all linear 0.1s;
  outline: none;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  .btn-loading {
    min-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:focus {
    outline: none;
    filter: brightness(0.8);
  }

  &::hover {
    filter: brightness(1.2);
  }

  &.disabled {
    cursor: default;
    opacity: 0.4;
  }
}
