.chat-title-container {
  padding: 0 0.8em;
  span {
    font-weight: 600;
  }
}

.cs-conversation-list {
  .scrollbar-container {
    .cs-conversation {
      padding: 0.675em 0.8em 0.675em 0.8em;
    }
  }
}
