.profile {
  margin: 0 auto;
  width: fit-content;
  max-width: 975px;
  width: calc(100% - 40px);
  padding: 30px 20px 0;

  .profile-card {
    width: 90%;
    padding-bottom: 44px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.profile-picture {
  width: 290px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-right: 30px;
  flex: 1;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgb(212, 212, 212);
  }
}

.user-info {
  flex: 2;
  margin-bottom: 10px;
}

.line,
.line2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.line button {
  border: none;
  background-color: #efefef;
  color: #000;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
}

.user-info h2 {
  font-size: 14px;
}

.user-info span {
  font-size: 12px;
}

.nav-tag-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-tag-list .tag-item {
  padding: 10px;
}

.nav-tag-list .tag-item.active {
  border-top: 1px solid black;
}
.nav-tag-list .tag-item i {
  margin-right: 10px;
}
