$linkColor: #1179ef;
$actionTextBtnColor: #0095f6;
$navBarHoverColor: rgba(0, 0, 0, 0.05);
$navBarActiveColor: rgba(0, 0, 0, 0.15);
$bottomBorderColor: #efefef;
$blueColor: #4295f6;
$inactiveColor: rgb(115, 115, 115);
$subFontColor: #737373;
