.homePage-suggestion {
  width: 100%;
  padding-top: 30px;
  .homePage-suggestion-content {
    display: flex;
    flex-direction: column;
    max-width: 580px;
    margin: 0 auto;
    span {
      font-size: 14px;
      font-weight: 600;
    }
    .group-info {
      flex: 1;
    }
    .list-item {
      margin-top: 20px;
    }
  }
}
