@import '../../styles/variable.scss';

.navBar-container {
  position: fixed;
  height: 100vh;
  width: 220px;
  padding: 8px;
  border-right: solid 1px #ccc;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  z-index: 99;

  .navBar-logo,
  .navBar-logout {
    width: 28px;
  }

  .navBar-logo {
    font-size: 24px;
    margin: 25px 0 25px 12px;
    font-weight: bold;
    width: 38.2px;
    cursor: pointer;
    span {
      display: block;
    }

    img {
      display: none;
      border-radius: 100%;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .navBar-items-list {
    display: flex;
    flex-direction: column;
    flex: 1;

    .navBar-item {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 12px;

      &:hover {
        background-color: $navBarHoverColor;
        cursor: pointer;
      }

      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        border-radius: 100%;
        border: solid 2px #000;
      }

      svg {
        min-width: 28px;
        width: 28px;
      }

      span {
        margin-left: 16px;
        font-size: 14px;
      }

      &.navBar-item-create {
        svg {
          border-radius: 8px;
          border: solid 2.3px #000;
        }
      }

      &.active {
        font-weight: bold;
        background-color: $navBarActiveColor;
      }
    }
  }

  .navBar-logout {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    border-radius: 8px;

    &:hover {
      background-color: $navBarHoverColor;
      cursor: pointer;
    }

    svg {
      width: 28px;
      min-width: 28px;
      height: 100%;
    }
    span {
      margin-left: 16px;
      font-size: 14px;
    }
  }

  &.small-nav {
    width: unset;
    width: 69px;
    span {
      display: none;
    }

    .navBar-logo {
      margin: 18px 7px 30px;
      img {
        display: block;
      }
    }

    .navBar-items-list {
      align-items: flex-start;
    }
  }
}
