@import '../../styles/variable.scss';

.search-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 16px;
  height: 100vh;
  width: 396px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.36);
  z-index: 9;
  transform: translateX(-85%);
  border: 1px solid #ccc;
  opacity: 0.4;

  &.active {
    opacity: 1;
    transform: translateX(68px);
  }

  .search__input-header {
    padding-top: 8px;

    .search__input-header__title {
      font-size: 24px;
      font-weight: 600;
      margin: 0 8px;
      padding: 12px 14px 36px 24px;
    }

    .search__input-header__input {
      display: flex;
      align-items: center;
      background-color: #efefef;
      margin: 0 16px;
      border-radius: 8px;
      height: 40px;
      color: #737373;

      svg {
        width: 22px;
        margin: 0 12px 0 16px;
      }

      input {
        width: 100%;
        background-color: transparent;
        color: #737373;
        border: none;
        outline: none;
      }
    }
  }
  .search__result-container {
    margin-top: 25px;
    .search__result {
    }
  }
  .search__recent-search {
    margin-top: 25px;
    padding-top: 22px;
    border-top: 1px solid #ccc;

    .search__recent-search__title-container {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      padding: 0 24px;

      .search__recent-search__title {
        font-size: 16px;
        line-height: 20px;
      }

      .search__recent-search__clear {
        font-size: 14px;
        line-height: 18px;

        color: $actionTextBtnColor;
      }
    }

    .search__recent-search__list-container {
      margin-top: 16px;

      .search__recent-search__list- {
      }
    }
  }
  .search__user-info {
    display: flex;
    align-items: center;
    padding: 8px 24px;

    &:hover {
      background-color: $navBarHoverColor;
      cursor: pointer;
    }

    .search__user-img {
      height: 44px;
      width: 44px;
      border-radius: 100%;
      border: 1px solid #ccc;
      margin-right: 12px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .search__user-username {
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
    }
    .search__user-fullname {
      font-size: 14px;
      line-height: 18px;
      color: $subFontColor;
    }
  }
}
