@import '../../styles/variable.scss';

.post {
  font-size: 14px;
  border-bottom: solid 1px #ccc;
  padding-bottom: 16px;
  margin-bottom: 20px;

  .post__user-info__wrapper {
    .post__user-info {
      display: inline-flex;
      align-items: center;
      margin-bottom: 12px;
      cursor: pointer;

      .post__user-img__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background: linear-gradient(to right, cyan, orange);
        padding: 2px;
        width: 38px;
        height: 38px;
        margin-right: 8px;

        .post__user-img {
          background-color: #fff;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2px;

          img {
            border-radius: 100%;
            object-fit: cover;
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    .post__username {
      font-size: 14px;
    }
    .post__follow {
      color: $blueColor;
    }
  }
  .post__img-video {
    display: flex;
    justify-content: center;
    background-color: #000;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      max-height: 600px;
      max-width: 400px;
      object-fit: contain;
    }
  }
  .post__like {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .post__action {
    margin: 8px 0;
    &.post__action-liked {
      color: #ccc;
      fill: #ccc;
    }

    svg {
      width: 24px;

    }
  }
  .post__caption {
    display: flex;
    margin-bottom: 8px;
    .post__caption-username {
    }
    .post__caption-text {
    }
  }
  .post__view-comment {
    margin-bottom: 8px;
    .post__view-comment-text {
      color: #737373;
      font-weight: 400;
      cursor: pointer;
    }
  }
  .post__comment {
    display: flex;
    align-items: center;

    .post__comment-input {
      display: block;
      width: 100%;
      overflow-y: hidden;
      border: none;
      resize: none;
      max-height: 90px;
      line-height: 20px;
      font-weight: 400;

      cursor: text;
      &:focus {
        outline: none;
      }

      &.post__comment-input__has-value {
        overflow-y: scroll;
      }
    }

    .post__comment-input[contenteditable]:empty::before {
      content: 'Add a comment...';
      color: #737373;
    }

    .post__comment-submit {
      margin-left: 8px;
      line-height: 16px;
      color: $actionTextBtnColor;
      height: 100%;
    }
  }
}
